In [97]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math
import sys
%matplotlib inline
plt.style.use(['ggplot'])

In [98]:
# importing the data
data = pd.read_csv("FoDS-Assignment-2.csv", names = ["X1","X2","X3","X4","X5","X6","X7","X8","X9","X10","X11","X12","X13","Y"], header=0)
data

      X1    X2      X3     X4   X5  X6  ...  X9     X10   X11   X12    X13         Y
0      4  1.75  2120.0   7420  1.0   0  ...   7  1060.0  1060  1540   7420  453000.0
1      4  2.50  2180.0   9861  2.0   0  ...   8  2180.0     0  2390   9761  480000.0
2      3  1.50  1540.0   9800  1.0   0  ...   7  1010.0   530  1600   8250  180500.0
3      3  3.50  2380.0   6250  2.0   0  ...   8  1670.0   710  2540   4010  495000.0
4      4  2.50  2230.0   8500  2.0   0  ...   8  2230.0     0  2270   8770  325000.0
...   ..   ...     ...    ...  ...  ..  ...  ..     ...   ...   ...    ...       ...
1183   4  2.50  2623.0   7184  2.0   0  ...   8  2623.0     0  2010   4939  333000.0
1184   2  2.00  1730.0   4248  2.0   0  ...   7  1730.0     0  1380   4000  450000.0
1185   4  2.50  3040.0   6425  2.0   0  ...   8  3040.0     0  3040   7800  776000.0
1186   4  1.50  2150.0  11026  1.0   0  ...   7  2150.0     0  1760  10283  400000.0
1187   3  1.00  1200.0   9194  1.0   0  ...   7  1200.0     0  1330   8650  369500.0

[1188 rows x 14 columns]

In [99]:
def split(data,fraction = 0.7):
    
    shuffled_data = data.sample(frac=1, random_state=0) # Shuffling the dataset
    split_index = int(fraction * len(data)) # Finding split index
    
    # Spliting the dataset 
    train= shuffled_data[:split_index]
    test = shuffled_data[split_index:]
    return train.reset_index(drop=True), test.reset_index(drop=True)

In [100]:
def calculate_cost(W, X, Y):
    m = len(Y)
    predictions = X.dot(W)
    cost = np.sum(np.square(predictions - Y)) * (1/(2*m))
    return cost

In [101]:
def gradient_descent(X, Y, W, learning_rate=0.01, iterations=1000):

    cost_history = np.zeros(iterations)
    m = len(Y)
    for it in range(iterations):
        
        prediction = np.dot(X, W)        
        W = W - np.multiply((X.T.dot((prediction - Y))), learning_rate/m)
        cost_history[it]  = calculate_cost(W, X, Y)
        
    return W, cost_history

In [102]:
def errorloop(cost_history):
    for it in range(len(cost_history)):
        if it%500==0: print(cost_history[it])

In [103]:
def RMSerror(final_error):
    return math.sqrt(2*final_error)

In [104]:
def model(X, Y, learning_rate, iterations, degree):
    
    train_X_terms = X
    W_gd = np.zeros(train_X_terms.shape[1])
    W_gd, cost_history_gd = gradient_descent(train_X_terms, Y, W_gd, learning_rate, iterations)
    
    print(W_gd)
    print('Final cost/MSE:',cost_history_gd[-1])
    print('-------------------------------------------------------------------')
    errorloop(cost_history_gd)
    
    return train_X_terms, W_gd, cost_history_gd, iterations, degree

In [105]:
train_data, test_data = split(data)

In [106]:
test_data = test_data.dropna()
train_data = train_data.dropna()

In [107]:
print(train_data)

     X1    X2      X3     X4   X5  X6  ...  X9     X10   X11   X12    X13         Y
0     3  1.75  3400.0  46382  1.0   0  ...   7  2050.0  1350  2320  20624  340000.0
1     3  2.50  2380.0   5017  2.0   0  ...   9  2380.0     0  2670   6066  652100.0
2     4  2.50  2400.0   9612  1.0   0  ...   8  1230.0  1170  2430   5539  500012.0
3     3  2.50  1780.0   2778  2.0   0  ...   8  1530.0   250  1380   1998  443000.0
4     3  3.25  3330.0  15093  2.5   0  ...   9  3330.0     0  4340  20031  950000.0
..   ..   ...     ...    ...  ...  ..  ...  ..     ...   ...   ...    ...       ...
826   4  2.50  3040.0   6425  2.0   0  ...   8  3040.0     0  3040   7800  776000.0
827   4  1.75  1840.0  10720  1.0   0  ...   7   960.0   880  1840   9044  404000.0
828   6  4.00  3180.0   6551  2.0   0  ...   9  3180.0     0  3230   7602  859950.0
829   5  2.50  2830.0  25958  1.0   0  ...   8  1610.0  1220  2670  21567  700000.0
830   4  2.50  1830.0   8601  2.0   0  ...   7  1830.0     0  1830   5184  339000.0

[798 rows x 14 columns]

In [108]:
print(test_data)

     X1    X2      X3      X4   X5  X6  ...  X9     X10  X11   X12     X13         Y
0     4  1.75  1600.0    6380  1.0   0  ...   8  1130.0  470  1090    6380  495000.0
1     4  2.50  1940.0    3200  2.0   0  ...   8  1940.0    0  1900    3200  380000.0
2     3  1.00  2020.0    8100  1.0   0  ...   7  1170.0  850  1480    7620  450000.0
3     3  2.50  1270.0    1283  3.0   0  ...   7  1270.0    0  1270    1512  292000.0
4     3  2.00  1720.0  128066  1.0   0  ...   7  1720.0    0  2360  111078  427000.0
..   ..   ...     ...     ...  ...  ..  ...  ..     ...  ...   ...     ...       ...
351   4  2.50  1770.0    8155  1.5   0  ...   6  1770.0    0  1460    7360  500000.0
352   2  1.75  2320.0    5500  1.5   0  ...   8  1720.0  600  2380    5000  700000.0
353   3  1.00  1450.0    4000  1.0   0  ...   8   950.0  500  1880    4000  525000.0
354   3  2.50  1322.0    6006  2.0   0  ...   7  1322.0    0  1440    6796  215000.0
356   6  3.75  2770.0    5000  1.0   0  ...   8  1870.0  900  1570    2108  890000.0

[349 rows x 14 columns]

In [109]:
X1 = np.array(train_data['X1'])
X2 = np.array(train_data['X2'])
X3 = np.array(train_data['X3'])
X4 = np.array(train_data['X4'])
X5 = np.array(train_data['X5'])
X6 = np.array(train_data['X6'])
X7 = np.array(train_data['X7'])
X8 = np.array(train_data['X8'])
X9 = np.array(train_data['X9'])
X10 = np.array(train_data['X10'])
X11 = np.array(train_data['X11'])
X12 = np.array(train_data['X12'])
X13 = np.array(train_data['X13'])
Y = np.array(train_data['Y'])
Xtest1 = np.array(test_data['X1'])
Xtest2 = np.array(test_data['X2'])
Xtest3 = np.array(test_data['X3'])
Xtest4 = np.array(test_data['X4'])
Xtest5 = np.array(test_data['X5'])
Xtest6 = np.array(test_data['X6'])
Xtest7 = np.array(test_data['X7'])
Xtest8 = np.array(test_data['X8'])
Xtest9 = np.array(test_data['X9'])
Xtest10 = np.array(test_data['X10'])
Xtest11 = np.array(test_data['X11'])
Xtest12 = np.array(test_data['X12'])
Xtest13 = np.array(test_data['X13'])
Y1 = np.array(test_data['Y'])

In [110]:
mydict = {
    1: X1,
    2: X2,
    3: X3,
    4: X4,
    5: X5,
    6: X6,
    7: X7,
    8: X8,
    9: X9,
    10: X10,
    11: X11,
    12: X12,
    13: X13
}

In [111]:
dicttest = {
    1: Xtest1,
    2: Xtest2,
    3: Xtest3,
    4: Xtest4,
    5: Xtest5,
    6: Xtest6,
    7: Xtest7,
    8: Xtest8,
    9: Xtest9,
    10: Xtest10,
    11: Xtest11,
    12: Xtest12,
    13: Xtest13
}

In [112]:
l = np.ones(X1.size)
test = np.ones(Xtest1.size)

In [113]:
for k in range(13):

    t = l
    l = np.c_[t,mydict[k+1]]
    a = test
    test = np.c_[test,dicttest[k+1]]

In [114]:
train_X_terms, W_gd, cost_history_gd, n_iter, degree = model(l, Y, 0.0000000001, 20000, 1)

[ 1.55496596e-02  3.92274438e-02  7.71105084e-02  1.27871565e+02
 -5.40403294e-02  4.42768675e-02  8.60420229e-03  1.50366427e-01
  8.94577541e-02  2.65562494e-01  8.62013985e+01  4.16701663e+01
  6.79261240e+01 -1.35145422e+00]
Final cost/MSE: 31930580018.849915
-------------------------------------------------------------------
200737431443.47382
84205991119.7946
52078848790.03617
40037967560.25464
35510981717.19042
33795136772.526733
33131336427.89724
32861571201.194664
32739697626.041283
32673632595.796883
32628920174.39129
32592660388.973595
32560016650.395508
32529168795.054043
32499425243.559925
32470516839.208786
32442332698.452145
32414821397.82271
32387954005.77462
32361710248.031494
32336073326.28885
32311027973.909855
32286559722.599197
32262654622.211708
32239299130.217064
32216480064.77974
32194184581.785126
32172400160.969044
32151114595.594727
32130315983.595158
32109992719.397858
32090133486.135895
32070727248.130333
32051763243.59797
32033230977.563457
32015120214.964836
31997420973.944927
31980123519.322945
31963218356.240776
31946696223.979282

In [115]:
calculate_cost(W_gd, test, Y1)

48070025414.30089