In [39]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [40]:
# importing the data
data = pd.read_csv("FoDS-A1.csv", names = ["X1","X2","Y"], header=0)

# Data Preprocessing

Preprocessing the data involves:

- `Normalizing` the data:<br>
<br>
&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; <font size="4"> X = $\frac{ X_{} - X_{min} }{X_{max} - X_{min}}$ </font>
<br>
<br>                 
- `Shuffling` the data
<br>
<br>
- `Splitting` the data to test and train

In [41]:
def normalize(data):
    data_min = data.min()
    data_max = data.max()
    data["X1"] = (data["X1"] - data_min[0])/(data_max[0]-data_min[0])
    data["X2"] = (data["X2"] - data_min[1])/(data_max[1]-data_min[1])

In [49]:
def split(data,fraction = 0.7):
    
    shuffled_data = data.sample(frac=1, random_state=0) # Shuffling the dataset
    split_index = int(fraction * len(data)) # Finding split index
    
    # Spliting the dataset 
    train= shuffled_data[:split_index]
    test = shuffled_data[split_index:]
    return train.reset_index(drop=True), test.reset_index(drop=True)

In [52]:
normalize(data)
data

            X1   X2   Y
0     0.504132  0.4  16
1     0.338843  0.5  18
2     0.501377  0.6  16
3     0.561983  0.4  10
4     0.228650  0.4  20
...        ...  ...  ..
1645  0.553719  0.7  20
1646  0.721763  0.9  14
1647  0.752066  0.9  12
1648  0.060606  0.0  20
1649  0.203857  0.1  20

[1650 rows x 3 columns]

In [53]:
train_data, test_data = split(data)
train_data

            X1   X2   Y
0     0.250689  0.4  20
1     0.862259  1.0  10
2     0.710744  0.9  14
3     0.559229  0.5  16
4     0.490358  0.7  20
...        ...  ...  ..
1150  0.672176  0.6  10
1151  0.504132  0.8  20
1152  0.415978  0.5  16
1153  0.567493  0.7  18
1154  0.526171  0.9  20

[1155 rows x 3 columns]